* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
body {
    font-family: 'Science Gothic', 'Arial Narrow', Arial, sans-serif;
}

#hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#hero article {
    margin-top: 20px;
}

#galeria {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
    height: auto;
}

#galeria article {
    margin-bottom: 20px;
}

.botao {
    display: inline;
    font-size: x-large;
    background-color: rgb(34, 246, 193);
    border-radius: 50px;
}

#gap {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#pacotes {
    text-align: center;
    margin-top: 150px;
    font-size: xx-large;
} 

main {
    background-color: antiquewhite;
}

body {
    background-color: rgba(5, 169, 234, 0.634);
}

article {
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0.2px; 
}

article img {
    width: 100%;
    border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(5, 169, 234, 0.81);
  font-family: 'Momo Trust Display', 'Arial Narrow', Arial, sans-serif;
}

header nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  text-decoration: none;
}

footer {
    display: grid;
    background-color: rgba(5, 169, 234, 0.634);
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 0, 0.571)
}

a:visited {
    color: rgb(255, 247, 3);
}

img {
    width: 100%;
}


 
